@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$white: #FFFFFF;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $white;
$link-hover: $white;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$title-color: $white;
$subtitle-color: $white;

// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/footer.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/elements/icon.sass";



body {
	background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

a {
  fa {
    color: $white;
  }
}

#particles-js {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.hero-foot {
  height: 5vh;
}
